In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from time import *

In [2]:
browser = webdriver.Chrome()
url = "http://rate.am/en/armenian-dram-exchange-rates/banks/non-cash"
browser.get(url)
all_data=browser.find_element_by_xpath('//*[@id="aspnetForm"]/div[3]/div[2]/div[1]/div[4]/div[3]/table/tbody/tr/td[1]/a')
all_data.click()

In [3]:
July20=browser.find_element_by_xpath('//*[@id="calBorder"]/span/table/tbody/tr[3]/td/table/tbody/tr[5]/td[4]')
July20.click()

In [4]:
show=browser.find_element_by_xpath('//*[@id="ctl00_Content_RB_dtpick1_btnOk"]')
show.click()

In [5]:
import pandas as pd
import csv

In [8]:
data = pd.read_html(browser.find_element_by_class_name("rb").get_attribute('outerHTML'))
data = data[0]
data = data[2:19]
del data[0]
del data[2]
del data[3]
data.columns = ["Name", "Date", "USD_buy", "USD_sell", "EUR_buy", "EUR_sell", "RUR_buy", "RUR_sell", "GBP_buy", "GBP_sell"]
from unicodecsv import*
with open('rateam.csv', 'w') as f:
    data.to_csv(f, header=True, index=False, encoding='utf-8')

In [9]:
print data

                      Name           Date USD_buy USD_sell EUR_buy  EUR_sell  \
2        Էյչ-Էս-Բի-Սի Բանկ  20 Jul, 20:01  476.50   480.50     550     558.0
3      Բիբլոս Բանկ Արմենիա  20 Jul, 20:00     477   480.50     547     555.0
4        ՎՏԲ-Հայաստան Բանկ  20 Jul, 20:00  477.25      480     547     553.5
5               Ամերիաբանկ  20 Jul, 20:00  476.50   480.50  551.50     559.5
6                Յունիբանկ  20 Jul, 20:00  476.50      480     546     556.0
7   ԱԿԲԱ-ԿՐԵԴԻՏ ԱԳՐԻԿՈԼ ..  20 Jul, 20:00     477   480.50  546.50     554.0
8              Արմսվիսբանկ  20 Jul, 20:00     477      480     548     554.0
9               Արդշինբանկ  20 Jul, 20:00  477.50   480.50     548     558.0
10               Արցախբանկ  20 Jul, 20:00     477      480     547     555.0
11            Կոնվերս բանկ  20 Jul, 20:00  476.50      480     547     555.0
12             Անելիք Բանկ  20 Jul, 20:00     477   480.50     546     556.0
13       ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ  20 Jul, 20:00     477      480  547.10     554.1
14           Պրոմեթեյ Բանկ  20 Jul, 20:00     477      480     548     556.0
15              ԱՐԱՐԱՏԲԱՆԿ  20 Jul, 20:00  477.50   480.50     543     561.0
16               Ինեկոբանկ  20 Jul, 20:00  477.25   480.25     547     559.0
17           ՀԱՅԷԿՈՆՈՄԲԱՆԿ  20 Jul, 20:00     477   480.50     547     555.0
18             Մելլաթ բանկ  20 Jul, 20:00     476      480     547     555.0

    RUR_buy  RUR_sell  GBP_buy  GBP_sell
2      7.99      8.23    616.5     625.5
3      7.99      8.24    618.0     629.0
4      8.06      8.18    619.0     630.0
5      7.97      8.22    616.5     626.5
6      8.00      8.25    612.0     632.0
7      8.05      8.18    612.0     627.0
8      8.04      8.22    617.0     624.0
9      7.97      8.22    618.0     633.0
10     7.99      8.20    614.0     629.0
11     8.02      8.21    619.0     627.0
12     8.04      8.22      NaN       NaN
13     8.02      8.24    617.1     629.1
14     8.06      8.16    614.0     625.0
15     8.04      8.25    610.0     633.0
16     7.95      8.20    613.0     626.0
17     8.06      8.23    611.0     630.0
18      NaN       NaN      NaN       NaN